version: '3.8'

services:
  bot:
    build: .
    container_name: itpi-smeta-bot
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./logs:/app/logs
    environment:
      - TZ=Europe/Moscow
